img {
  max-width: 40%;
}

.logo_wrapper, .login_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10%;
  margin-bottom: 8%;
}

.avatar {
  max-width: 15%;
  position: absolute;
  right: 26px;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right:10px solid white;
  margin-right: 5px;
}

.circleBase {
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.type1 {
  width: 50px;
  height: 50px;
  background: #98C3FF;
  border: 1px solid #707070;
  margin: 0;
  position: absolute;
  left: 26px;
}

.btn_login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.rounded {
  border-radius: 27px;
  border: 1px solid #707070;
  height: 38px;
  width: 266px;
  outline: none;
  text-align: center;
  margin-bottom: 8%;
}

.btn {
  color: white;
  font-size: 18px;
  background-color: #98C3FF;
}

select {
  text-align: center;
  text-align-last: center;
  -moz-text-align-last: center;
}

.margin {
  margin-top: 0;
  margin-bottom: 10%;
}

.middle {
  text-align: center;
}

ion-textarea {
  min-height: 10px;
  max-height: 7000px;
}

.add-article {
  color: black;
  background-color: transparent;
  border: 1px solid;
  padding: 12px;
  border-radius: 5px;
  margin-bottom: 35px;
  align-items: center;
  display: flex;
}

.plus{
  position: relative;
  z-index: 1;
  width: 40px;
  height: 40px;
  color: white;
  background: #98C3FF;
  border-radius: 50%;
  margin-left: 20px;
  border: none;
  transition: box-shadow 400ms cubic-bezier(.2,0,.7,1), transform 200ms cubic-bezier(.2,0,.7,1);
  &:after{
    content: "+";
    font-size: 2.5em;
    line-height: 1.1em;
  }
  &:hover{
    transform: rotate(90deg);
  }
}
