img {
  max-width: 50%;
}

.logo_wrapper, .login_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20%;
  margin-bottom: 8%;
}

.btn_login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.rounded {
  border-radius: 27px;
  border: 1px solid #707070;
  height: 38px;
  width: 266px;
  outline: none;
  text-align: center;
  margin-bottom: 8%;
}

.btn {
  color: white;
  font-size: 18px;
  background-color: #98C3FF;
}

.google-button__text {
  display: inline-block;
  vertical-align: middle;
  padding: 0 24px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Roboto',arial,sans-serif;
}
