<script src="../../../../../../../Master 1/WebRadio/Mobile/src/app/login/login.page.ts"></script>
<ion-content>
  <div class="logo_wrapper">
    <img src="../../assets/logo.svg" alt="">
  </div>

  <form>
    <div class="login_wrapper">
      <ion-input class="rounded" placeholder="Votre email" type="text" [(ngModel)]="logCredentials.email" [ngModelOptions]="{standalone: true}" required></ion-input>
      <ion-input class="rounded" placeholder="Mot de passe" type="password" [(ngModel)]="logCredentials.password" [ngModelOptions]="{standalone: true}" required></ion-input>
    </div>
  </form>

  <div class="btn_login">
    <button class="rounded btn" (click)="login()">Se connecter</button>
    <button class="rounded btn" (click)="googleAuth()">Sign in with Google</button>
    <p style="margin: auto" (click)="register()">S'inscrire</p>
    <p (click)="forgot()">Mot de passe oublié</p>
  </div>
</ion-content>
