.sidebar-wrapper {
  background: rgb(95,77,239);
}

.logo {
  display: none !important;
}

.bottom {
  margin-bottom: 3rem;
}

.top {
  margin-top: 3rem;
}

.different a, .different i {
  color: white !important;
  background: var(--tooltip-color) !important;
  font-size: 15px;
}

.active a, .active i {
  color: var(--tooltip-color) !important;
  font-size: 15px;
}

i {
  color: var(--tooltip-color) !important;
}

.logo-wrapper {
  text-align: center;
}

ul .new-campaign a {
  width: 100%;
  margin: 10px 0 20px 0 !important;
  padding-left: 25px !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  border-radius: 0;
}
.test {
  border-radius: 30px;
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 15px;
  padding: 10px 8px;
  line-height: 1rem;
  width: 90%;
  border: none;
  background: none;
  color: white !important;
  outline: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 0 !important;
}

a p .icon {
  color: white !important;
}

.active {
  font-size: 1em;
}



