<div class="sidebar-wrapper">
  <ul class="nav" *ngIf="isAuthenticated">
    <li *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item mb-5">
      <a [routerLink]="[menuItem.path]">
        <i class="far {{menuItem.icon}}"></i>
        <p>{{menuItem.title}}</p>
      </a>
    </li>

    <div style="display: flex">
      <button class="nav-item mb-4 test" [routerLink]="['/dashboard']"><i class="fas fa-space-shuttle"></i>Tableau de bord</button>
    </div>

    <hr style="border-bottom: .5px solid white; width: 80%">

    <div ngbDropdown style="display: flex">
      <button class="nav-item mb-4 test" id="dropdownBasic1" ngbDropdownToggle><i class="fas fa-cogs"></i>Mes réglages</button>
      <div style="width: 100%" ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem [routerLink]="['']">Mon mot de passe</button>
        <button ngbDropdownItem [routerLink]="['']">Mon profil</button>
        <button ngbDropdownItem [routerLink]="['']">Mon abonnement</button>
        <button ngbDropdownItem [routerLink]="['/me/bank']">Mon compte bancaire</button>
      </div>
    </div>
  </ul>
</div>
