<body data-spy="scroll" data-target=".fixed-top">

<ng-template #content let-modal>
  <div class="modal-header">
    <img style="width: 15%" src="./assets/img/FactureItLogo.png" alt="alternative">
  </div>
  <div class="modal-body">
    <form class="login-form">
      <input class="input input-down" type="email" placeholder="Email" [(ngModel)]="loginCredentials.email" [ngModelOptions]="{standalone: true}">
      <input class="input" type="password" placeholder="Password" [(ngModel)]="loginCredentials.password" [ngModelOptions]="{standalone: true}">
      <button type="button" class="google-button">
        <span class="google-button__icon">
          <svg viewBox="0 0 366 372" xmlns="http://www.w3.org/2000/svg"><path d="M125.9 10.2c40.2-13.9 85.3-13.6 125.3 1.1 22.2 8.2 42.5 21 59.9 37.1-5.8 6.3-12.1 12.2-18.1 18.3l-34.2 34.2c-11.3-10.8-25.1-19-40.1-23.6-17.6-5.3-36.6-6.1-54.6-2.2-21 4.5-40.5 15.5-55.6 30.9-12.2 12.3-21.4 27.5-27 43.9-20.3-15.8-40.6-31.5-61-47.3 21.5-43 60.1-76.9 105.4-92.4z" id="Shape" fill="#EA4335"/><path d="M20.6 102.4c20.3 15.8 40.6 31.5 61 47.3-8 23.3-8 49.2 0 72.4-20.3 15.8-40.6 31.6-60.9 47.3C1.9 232.7-3.8 189.6 4.4 149.2c3.3-16.2 8.7-32 16.2-46.8z" id="Shape" fill="#FBBC05"/><path d="M361.7 151.1c5.8 32.7 4.5 66.8-4.7 98.8-8.5 29.3-24.6 56.5-47.1 77.2l-59.1-45.9c19.5-13.1 33.3-34.3 37.2-57.5H186.6c.1-24.2.1-48.4.1-72.6h175z" id="Shape" fill="#4285F4"/><path d="M81.4 222.2c7.8 22.9 22.8 43.2 42.6 57.1 12.4 8.7 26.6 14.9 41.4 17.9 14.6 3 29.7 2.6 44.4.1 14.6-2.6 28.7-7.9 41-16.2l59.1 45.9c-21.3 19.7-48 33.1-76.2 39.6-31.2 7.1-64.2 7.3-95.2-1-24.6-6.5-47.7-18.2-67.6-34.1-20.9-16.6-38.3-38-50.4-62 20.3-15.7 40.6-31.5 60.9-47.3z" fill="#34A853"/></svg>
        </span>
        <span class="google-button__text" (click)="googleAuth()">Sign in with Google</span>
      </button>
    </form>
  </div>
  <div class="modal-footer">
    <p class="hover-password">Mot de passe oublié ?</p>
    <button type="button" style="color: white" class="btn-outline-sm bg-danger hover" (click)="login()">Continuer</button>
  </div>
</ng-template>

<ng-template #register let-modal>
  <div class="modal-header">
    <img style="width: 15%" src="./assets/img/FactureItLogo.png" alt="alternative">
  </div>
  <div class="modal-body">
    <form class="login-form">
      <input class="input input-down" type="email" placeholder="Email" [(ngModel)]="registerCredentials.email" [ngModelOptions]="{standalone: true}">
      <input class="input" type="password" placeholder="Password" [(ngModel)]="registerCredentials.password" [ngModelOptions]="{standalone: true}">
      <input class="input" type="text" placeholder="Adresse (N° et Nom de la rue)" [(ngModel)]="registerCredentials.address" [ngModelOptions]="{standalone: true}" required>
      <input class="input" type="text" placeholder="Ville" [(ngModel)]="registerCredentials.ville" [ngModelOptions]="{standalone: true}" required>
      <input class="input" type="text" placeholder="Code postal" [(ngModel)]="registerCredentials.code_postal" [ngModelOptions]="{standalone: true}" required>
      <select class="input" required [(ngModel)]="registerCredentials.pays" [ngModelOptions]="{standalone: true}">
        <option value="" disabled selected hidden>Sélectionnez votre pays</option>
        <option value="{{ country.name }}" *ngFor="let country of countries">{{ country.name }}</option>
      </select>
      <button type="button" class="google-button">
        <span class="google-button__icon">
          <svg viewBox="0 0 366 372" xmlns="http://www.w3.org/2000/svg"><path d="M125.9 10.2c40.2-13.9 85.3-13.6 125.3 1.1 22.2 8.2 42.5 21 59.9 37.1-5.8 6.3-12.1 12.2-18.1 18.3l-34.2 34.2c-11.3-10.8-25.1-19-40.1-23.6-17.6-5.3-36.6-6.1-54.6-2.2-21 4.5-40.5 15.5-55.6 30.9-12.2 12.3-21.4 27.5-27 43.9-20.3-15.8-40.6-31.5-61-47.3 21.5-43 60.1-76.9 105.4-92.4z" id="Shape" fill="#EA4335"/><path d="M20.6 102.4c20.3 15.8 40.6 31.5 61 47.3-8 23.3-8 49.2 0 72.4-20.3 15.8-40.6 31.6-60.9 47.3C1.9 232.7-3.8 189.6 4.4 149.2c3.3-16.2 8.7-32 16.2-46.8z" id="Shape" fill="#FBBC05"/><path d="M361.7 151.1c5.8 32.7 4.5 66.8-4.7 98.8-8.5 29.3-24.6 56.5-47.1 77.2l-59.1-45.9c19.5-13.1 33.3-34.3 37.2-57.5H186.6c.1-24.2.1-48.4.1-72.6h175z" id="Shape" fill="#4285F4"/><path d="M81.4 222.2c7.8 22.9 22.8 43.2 42.6 57.1 12.4 8.7 26.6 14.9 41.4 17.9 14.6 3 29.7 2.6 44.4.1 14.6-2.6 28.7-7.9 41-16.2l59.1 45.9c-21.3 19.7-48 33.1-76.2 39.6-31.2 7.1-64.2 7.3-95.2-1-24.6-6.5-47.7-18.2-67.6-34.1-20.9-16.6-38.3-38-50.4-62 20.3-15.7 40.6-31.5 60.9-47.3z" fill="#34A853"/></svg>
        </span>
        <span class="google-button__text" (click)="googleAuth()">Sign in with Google</span>
      </button>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" style="color: white" class="btn-outline-sm bg-danger hover" (click)="registerUser()">Continuer</button>
  </div>
</ng-template>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
  <div class="container-fluid">

    <!-- Image Logo -->
    <a class="navbar-brand logo-image" href="index.html"><img src="./assets/img/FactureItLogo.png" alt="alternative"></a>
    <p style="color: white">Facture-IT</p>
    <div class="collapse navbar-collapse"></div>
    <ul class="navbar-nav ml-auto">
        <span class="nav-item">
          <a class="btn-outline-sm bg-danger hover" (click)="open(content)">Se connecter</a>
        </span>
    </ul>
  </div> <!-- end of container -->
</nav> <!-- end of navbar -->
<!-- end of navigation -->


<!-- Header -->
<header id="header" class="header">
  <div class="header-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-xl-5">
          <div class="text-container">
            <h1>Application SaaS de gestion de clientèles</h1>
            <p class="p-large">Utilisez Facture-IT pour gérer vos factures et vos clients</p>
            <a class="btn-solid-lg page-scroll" (click)="open(register)">S'inscrire</a>
          </div> <!-- end of text-container -->
        </div> <!-- end of col -->
        <div class="col-lg-6 col-xl-7">
          <div class="image-container">
            <div class="img-wrapper">
              <img class="img-fluid" src="./assets/img/header-software-app.png" alt="alternative">
            </div> <!-- end of img-wrapper -->
          </div> <!-- end of image-container -->
        </div> <!-- end of col -->
      </div> <!-- end of row -->
    </div> <!-- end of container -->
  </div> <!-- end of header-content -->
</header> <!-- end of header -->
<svg class="header-frame" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 1920 310"><defs><style>.cls-1{fill:#5f4def;}</style></defs><title>header-frame</title><path class="cls-1" d="M0,283.054c22.75,12.98,53.1,15.2,70.635,14.808,92.115-2.077,238.3-79.9,354.895-79.938,59.97-.019,106.17,18.059,141.58,34,47.778,21.511,47.778,21.511,90,38.938,28.418,11.731,85.344,26.169,152.992,17.971,68.127-8.255,115.933-34.963,166.492-67.393,37.467-24.032,148.6-112.008,171.753-127.963,27.951-19.26,87.771-81.155,180.71-89.341,72.016-6.343,105.479,12.388,157.434,35.467,69.73,30.976,168.93,92.28,256.514,89.405,100.992-3.315,140.276-41.7,177-64.9V0.24H0V283.054Z"></path></svg>
<!-- end of header -->

<!-- Description -->
<div class="cards-1 basic-1">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="above-heading">DESCRIPTION</div>
        <h2 class="h2-heading">La gestion en est beaucoup plus simple</h2>
      </div> <!-- end of col -->
    </div> <!-- end of row -->
    <div class="row">
      <div class="col-lg-12">

        <!-- Card -->
        <div class="card">
          <div class="card-image">
            <img class="img-fluid" src="./assets/img/description-1.png" alt="alternative">
          </div>
          <div class="card-body">
            <h4 class="card-title">Construisez les fiches de vos clients</h4>
            <p style="padding: 10px">Gérez vos client, générez une facture ou un devis. Remplissez un formulaire et notre système d'automatisation s'occupe du reste.</p>
          </div>
        </div>
        <!-- end of card -->

        <!-- Card -->
        <div class="card">
          <div class="card-image">
            <img class="img-fluid" src="./assets/img/description-2.png" alt="alternative">
          </div>
          <div class="card-body">
            <h4 class="card-title">Focus on working</h4>
            <p style="padding: 10px">Avec des accès simples pour chaques fonctionnalités de notre outil, vous pourrez consacrer plus de temps à travailler qu'à gérer vos contacts et votre comptabilité.</p>
          </div>
        </div>
        <!-- end of card -->

        <!-- Card -->
        <div class="card">
          <div class="card-image">
            <img class="img-fluid" src="./assets/img/description-3.png" alt="alternative">
          </div>
          <div class="card-body">
            <h4 class="card-title">Outils d'analyses</h4>
            <p style="padding: 10px">Facture-IT vous propose des graphiques simples et efficaces, basés sur votre utilisation pour suivre vos clients et votre compte bancaire professionnel en direct.</p>
          </div>
        </div>
        <!-- end of card -->

      </div> <!-- end of col -->
    </div> <!-- end of row -->
  </div> <!-- end of container -->
</div> <!-- end of cards-1 -->
<!-- end of description -->

<!-- Details -->
<div class="basic-1" style="background-color: #f3f7fd;">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="image-container">
          <img class="img-fluid" src="./assets/img/details-inge.svg" alt="alternative">
        </div> <!-- end of image-container -->
      </div>
      <div class="col-lg-6">
        <div class="text-container">
          <h2>Une solution pour des experts, par des experts</h2>
          <p>Notre outil à été pensé et développé par 3 ingénieurs travaillant chacun dans le domaine de la finance.</p>
          <ul class="list-unstyled li-space-lg">
            <li class="media">
              <i class="fas fa-square"></i>
              <div class="media-body">Nous connaissons vos besoin et nous y adaptons</div>
            </li>
            <li class="media">
              <i class="fas fa-square"></i>
              <div class="media-body">En cas de nouvelles fonctionnalités, votre outil sera mis à jour automatiquement</div>
            </li>
            <li class="media">
              <i class="fas fa-square"></i>
              <div class="media-body">Nous avons développé un système d'automatisation pour que les interactions avec vos clients se fassent rapidement et facilement</div>
            </li>
          </ul>
          <a class="btn-solid-reg page-scroll" (click)="open(register)">S'inscrire</a>
        </div> <!-- end of text-container -->
      </div> <!-- end of col -->
    </div> <!-- end of row -->
  </div> <!-- end of container -->
</div> <!-- end of basic-1 -->

<!-- Details -->
<div id="details" class="basic-1">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="text-container">
          <h2>C'est le moment de faire évoluer votre système de gestion</h2>
          <p>Avec notre outil, vous aurez accès à plusieurs fonctionnalités pour pouvoir gérer votre partie contact et financière de votre société. Gardez vos clients fidèle et heureux.</p>
          <ul class="list-unstyled li-space-lg">
            <li class="media">
              <i class="fas fa-square"></i>
              <div class="media-body">Créez et gérez vos clients, qu'ils soient Professionnels ou Particuliers</div>
            </li>
            <li class="media">
              <i class="fas fa-square"></i>
              <div class="media-body">Gérez, Créez, Régénérez des factures ou des devis</div>
            </li>
            <li class="media">
              <i class="fas fa-square"></i>
              <div class="media-body">Utilisez notre outil d'extraction comptable pour vos factures. Votre expert-comptable sera votre meilleur amis</div>
            </li>
          </ul>
          <a class="btn-solid-reg page-scroll" (click)="open(register)">S'inscrire</a>
        </div> <!-- end of text-container -->
      </div> <!-- end of col -->
      <div class="col-lg-6">
        <div class="image-container">
          <img class="img-fluid" src="./assets/img/details-lightbox.png" alt="alternative">
        </div> <!-- end of image-container -->
      </div> <!-- end of col -->
    </div> <!-- end of row -->
  </div> <!-- end of container -->
</div> <!-- end of basic-1 -->
<!-- end of details -->


<!-- Video -->
<div class="basic-1" style="background-color: #f3f7fd;">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="image-container" style="display: flex; justify-content: center">
          <img class="img-fluid" src="./assets/img/abby-secure-data-1-p7g2lkj7bv4u6x4jej1wjx4ayb24q734ft36pbu84g.png" alt="alternative">
        </div> <!-- end of image-container -->
      </div>
      <div class="col-lg-6">
        <div class="text-container">
          <h2>Votre sécurité, notre priorité</h2>
          <ul class="list-unstyled li-space-lg">
            <li class="media">
              <i class="fas fa-square"></i>
              <div class="media-body">Respect de l’anonymat de vos identifiants bancaires : aucun identifiant n’est visible au sein de notre application.</div>
            </li>
            <li class="media">
              <i class="fas fa-square"></i>
              <div class="media-body">Notre partenaire est agréé par l’autorité administrative adossée à la Banque de France et applique des normes utilisés par la majorité des banques.</div>
            </li>
            <li class="media">
              <i class="fas fa-square"></i>
              <div class="media-body">Notre partenaire utilise un dispositif sécurisé et à la pointe des nouvelles technologies.</div>
            </li>
            <li class="media">
              <i class="fas fa-square"></i>
              <div class="media-body">Nous n’avons accès à aucune de vos informations bancaires personnelles.</div>
            </li>
          </ul>
        </div> <!-- end of text-container -->
      </div> <!-- end of col -->
    </div> <!-- end of row -->
  </div> <!-- end of container -->
</div> <!-- end of basic-1 -->
<!-- end of video -->


<!-- Pricing -->
<div id="pricing" class="cards-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="above-heading">PRIX</div>
        <h2 class="h2-heading">Tous nos forfaits</h2>
      </div> <!-- end of col -->
    </div> <!-- end of row -->
    <div class="row">
      <div class="col-lg-12">

        <!-- Card-->
        <div class="card">
          <div class="card-body">
            <div class="card-title">Basique</div>
            <div class="price"><span class="value">Gratuit</span></div>
            <div class="frequency">30 jours gratuit</div>
            <div class="divider"></div>
            <ul class="list-unstyled li-space-lg">
              <li class="media">
                <i class="fas fa-check"></i><div class="media-body">Création de client</div>
              </li>
              <li class="media">
                <i class="fas fa-check"></i><div class="media-body">Création de factures</div>
              </li>
              <li class="media">
                <i class="fas fa-check"></i><div class="media-body">Données statistiques</div>
              </li>
              <li class="media">
                <i class="fas fa-times"></i><div class="media-body">Création de devis</div>
              </li>
              <li class="media">
                <i class="fas fa-times"></i><div class="media-body">Signature électronique</div>
              </li>
              <li class="media">
                <i class="fas fa-times"></i><div class="media-body">Extraction comptable</div>
              </li>
              <li class="media">
                <i class="fas fa-times"></i><div class="media-body">Gestion de votre compte bancaire professionnel</div>
              </li>
            </ul>
            <div class="button-wrapper">
              <a class="btn-solid-reg page-scroll" (click)="open(register)">S'inscrire</a>
            </div>
          </div>
        </div> <!-- end of card -->
        <!-- end of card -->

        <!-- Card-->
        <div class="card">
          <div class="card-body">
            <div class="card-title">Avancée</div>
            <div class="price"><span class="value">29.99</span><span class="currency">€</span></div>
            <div class="frequency">mensuel</div>
            <div class="divider"></div>
            <ul class="list-unstyled li-space-lg">
              <li class="media">
                <i class="fas fa-check"></i><div class="media-body">Création de client</div>
              </li>
              <li class="media">
                <i class="fas fa-check"></i><div class="media-body">Création de factures</div>
              </li>
              <li class="media">
                <i class="fas fa-check"></i><div class="media-body">Données statistiques</div>
              </li>
              <li class="media">
                <i class="fas fa-check"></i><div class="media-body">Création de devis</div>
              </li>
              <li class="media">
                <i class="fas fa-check"></i><div class="media-body">Signature électronique</div>
              </li>
              <li class="media">
                <i class="fas fa-check"></i><div class="media-body">Extraction comptable</div>
              </li>
              <li class="media">
                <i class="fas fa-times"></i><div class="media-body">Gestion de votre compte bancaire professionnel</div>
              </li>
            </ul>
            <div class="button-wrapper">
              <a class="btn-solid-reg page-scroll" (click)="open(register)">S'inscrire</a>
            </div>
          </div>
        </div> <!-- end of card -->
        <!-- end of card -->

        <!-- Card-->
        <div class="card">
          <!--<div class="label">
              <p class="best-value">Best Value</p>
          </div> -->
          <div class="card-body">
            <div class="card-title">Complète</div>
            <div class="price"><span class="value">39.99</span><span class="currency">€</span></div>
            <div class="frequency">mensuel</div>
            <div class="divider"></div>
            <ul class="list-unstyled li-space-lg">
              <li class="media">
                <i class="fas fa-check"></i><div class="media-body">Création de client</div>
              </li>
              <li class="media">
                <i class="fas fa-check"></i><div class="media-body">Création de factures</div>
              </li>
              <li class="media">
                <i class="fas fa-check"></i><div class="media-body">Données statistiques</div>
              </li>
              <li class="media">
                <i class="fas fa-check"></i><div class="media-body">Création de devis</div>
              </li>
              <li class="media">
                <i class="fas fa-check"></i><div class="media-body">Signature électronique</div>
              </li>
              <li class="media">
                <i class="fas fa-check"></i><div class="media-body">Extraction comptable</div>
              </li>
              <li class="media">
                <i class="fas fa-check"></i><div class="media-body">Gestion de votre compte bancaire professionnel</div>
              </li>
            </ul>
            <div class="button-wrapper">
              <a class="btn-solid-reg page-scroll" (click)="open(register)">S'inscrire</a>
            </div>
          </div>
        </div> <!-- end of card -->
        <!-- end of card -->

      </div> <!-- end of col -->
    </div> <!-- end of row -->
  </div> <!-- end of container -->
</div> <!-- end of cards-2 -->
<!-- end of pricing -->

<!-- Newsletter -->
<div class="form">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="text-container">
          <div class="above-heading">NEWSLETTER</div>
          <h2>Restez informés si de nouvelles fonctionnalités arrivent !</h2>

          <!-- Newsletter Form -->
          <form id="newsletterForm" data-toggle="validator" data-focus="false">
            <div class="form-group">
              <input type="email" class="form-control-input" id="nemail" required="" [(ngModel)]="newsletterCredentials.email" [ngModelOptions]="{standalone: true}">
              <label class="label-control" for="nemail">Email</label>
            </div>
            <div class="form-group checkbox">
              <input type="checkbox" id="nterms" value="Agreed-to-Terms" required="" [(ngModel)]="newsletterCredentials.agree" [ngModelOptions]="{standalone: true}">J'ai lu et j'accepte la <a href="privacy-policy.html">Politique privée</a> et les <a href="terms-conditions.html">Conditions d'utilisations</a>
              <div class="help-block with-errors"></div>
            </div>
            <div class="form-group">
              <button type="submit" class="form-control-submit-button" (click)="newsletter()">S'inscrire à la Newsletter</button>
            </div>
            <div class="form-message">
              <div id="nmsgSubmit" class="h3 text-center hidden"></div>
            </div>
          </form>
          <!-- end of newsletter form -->

        </div> <!-- end of text-container -->
      </div> <!-- end of col -->
    </div> <!-- end of row -->
    <div class="row">
      <div class="col-lg-12">
        <div class="icon-container">
          <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-twitter fa-stack-1x"></i>
                            </a>
                        </span>
          <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-linkedin-in fa-stack-1x"></i>
                            </a>
                        </span>
        </div> <!-- end of col -->
      </div> <!-- end of col -->
    </div> <!-- end of row -->
  </div> <!-- end of container -->
</div> <!-- end of form -->
<!-- end of newsletter -->


<!-- Footer -->
<svg class="footer-frame" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 1920 79"><defs><style>.cls-2{fill:#5f4def;}</style></defs><title>footer-frame</title><path class="cls-2" d="M0,72.427C143,12.138,255.5,4.577,328.644,7.943c147.721,6.8,183.881,60.242,320.83,53.737,143-6.793,167.826-68.128,293-60.9,109.095,6.3,115.68,54.364,225.251,57.319,113.58,3.064,138.8-47.711,251.189-41.8,104.012,5.474,109.713,50.4,197.369,46.572,89.549-3.91,124.375-52.563,227.622-50.155A338.646,338.646,0,0,1,1920,23.467V79.75H0V72.427Z" transform="translate(0 -0.188)"></path></svg>
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="footer-col first">
          <h4>A propos de Facture-IT</h4>
          <p class="p-small">Outil développé par 3 étudiants dans le cadre de leurs dernière année de Master</p>
        </div>
      </div> <!-- end of col -->
      <div class="col-md-4">
        <div class="footer-col middle">
          <h4>Liens importants</h4>
          <a class="white" href="terms-conditions.html">Conditions &amp; Termes</a> - <a class="white" href="privacy-policy.html">Politique privée</a>
        </div>
      </div> <!-- end of col -->
      <div class="col-md-4">
        <div class="footer-col last">
          <h4>Contact</h4>
          <ul class="list-unstyled li-space-lg p-small">
            <li class="media d-flex">
              <i class="fas fa-map-marker-alt"></i>
              <div class="media-body">70 rue Marius Aufran, 75018, Levallois-Perret, FR</div>
            </li>
            <li class="media d-flex">
              <i class="fas fa-envelope"></i>
              <div class="media-body"><a class="white" href="mailto:contact@facture-it.com">contact@facture-it.com</a></div>
            </li>
          </ul>
        </div>
      </div> <!-- end of col -->
    </div> <!-- end of row -->
  </div> <!-- end of container -->
</div> <!-- end of footer -->
<!-- end of footer -->


<!-- Copyright -->
<div class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p class="p-small">Copyright © {{test | date: 'yyyy'}}
          <a href="https://github.com/AlexMGN" target="_blank">Alexandre Mignon</a> -
          <a href="https://github.com/EmericBayard" target="_blank">Emeric Bayard</a> -
          <a href="#" target="_blank">Mohammed ElKorchi</a>
        </p>
      </div> <!-- end of col -->
    </div> <!-- enf of row -->
  </div> <!-- end of container -->
</div> <!-- end of copyright -->
