<ion-content>
  <div class="logo_wrapper">
    <img src="../../assets/logo.svg" alt="">
  </div>

  <form>
    <div class="login_wrapper">
      <ion-input class="rounded" placeholder="Votre email" type="text" [(ngModel)]="registerCredentials.email" [ngModelOptions]="{standalone: true}" required></ion-input>
      <ion-input class="rounded" placeholder="Mot de passe" type="text" [(ngModel)]="registerCredentials.password" [ngModelOptions]="{standalone: true}" required></ion-input>
      <ion-input class="rounded" placeholder="Votre adresse (N° rue)" type="text" [(ngModel)]="registerCredentials.adresse" [ngModelOptions]="{standalone: true}" required></ion-input>
      <ion-input class="rounded" placeholder="Votre ville" type="text" [(ngModel)]="registerCredentials.ville" [ngModelOptions]="{standalone: true}" required></ion-input>
      <ion-input class="rounded" placeholder="Votre code postal" type="text" [(ngModel)]="registerCredentials.code_postal" [ngModelOptions]="{standalone: true}" required></ion-input>
      <ion-select class="rounded" [(ngModel)]="registerCredentials.country" [ngModelOptions]="{standalone: true}">
        <ion-select-option value="{{ country.name }}" *ngFor="let country of countries">{{ country.name }}</ion-select-option>
      </ion-select>
      <ion-input class="rounded" placeholder="Votre téléphone portable" type="text" [(ngModel)]="registerCredentials.portable" [ngModelOptions]="{standalone: true}" required></ion-input>
      <ion-input class="rounded" placeholder="Votre téléphone fixe" type="text" [(ngModel)]="registerCredentials.fixe" [ngModelOptions]="{standalone: true}" required></ion-input>
    </div>

    <div class="btn_login">
      <button class="rounded btn" (click)="register()">S'inscrire</button>
      <p class="margin" (click)="login()">Se connecter</p>
    </div>
  </form>



</ion-content>
