.panel-header {
  background: #fff !important;
}

.border-left-color {
  border-left: 5px solid #80b6f4;
}

.border-left-color-ca {
  border-left: 5px solid lawngreen;
}

.border-left-color-revolut {
  border-left: 5px solid black;
}

.card-footer {
  margin: 0 !important;
}

.icon {
  position: absolute;
  right: 7%;
  top: 20%;
  width: 25%;
}

.icon-large {
  position: absolute;
  right: 10%;
  width: 20px;
}

.main-content {
  min-height: 0 !important;
}
