.card {
  width: 90%;
}

.row {
  text-align: center;
  height: auto;
  width: 100%;
}

.fa-search {
  position: relative;
  left: 3%;
}

.filter {
  font-size: 9px;
}

td, th {
  padding-left: 30px !important;
}

.main-panel {
  height: 120%;
}
