<div class="wrapper">
  <div class="sidebar" data-color="red">
    <app-sidebar></app-sidebar>
  </div>
  <div>
    <app-navbar></app-navbar>
  </div>
  <div class="main-panel mt-5">
    <ngx-ui-loader></ngx-ui-loader>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10 align-middle">
        <div *ngIf="!haveAccount && !haveMidAccount">
          <button type="button" (click)="connectBankAccount()" class="btn btn-success mt-5" style="background-color: rgb(95,77,239);">Me connecter à ma banque</button>
        </div>
        <div *ngIf="haveMidAccount">
          <button type="button" (click)="getTransactions()" class="btn btn-success mt-5" style="background-color: rgb(95,77,239);">Récupérer mes transactions</button>
        </div>
        <div *ngIf="haveAccount">

          <h2 class="mt-5">Mes transactions</h2>

          <div class="search-hero">
            <i class="fas fa-search"></i>
            <input style="width: 50%; border: none; border-radius: 10px; text-align: center; outline: none; height: 35px" type="text" [(ngModel)]="searchVal"
                   (keyup)='checkSearchVal()'
                   placeholder="Rechercher une transaction">
          </div>

          <div class="card mt-5 text-center" style="border-radius: 10px">
            <table class="table">
              <tbody>
              <tr *ngFor="let transaction of transactions | paginate : {
                itemsPerPage: tableSize,
                currentPage: page,
                totalItems: count
              };">
                <td *ngIf="transaction.status === 'up'" style="width: 15%"><img style="width: 30%" src="./assets/img/Arrow_up.png" alt=""></td>
                <td *ngIf="transaction.status === 'down'" style="width: 15%"><img style="width: 30%" src="./assets/img/Arrow_down.png" alt=""></td>
                <td>{{ transaction.resource_type | uppercase }}</td>
                <td style="width: 40%">{{ transaction.description | uppercase }}</td>
                <td>{{ transaction.date }}</td>
                <td>
                  <div *ngIf="transaction.status === 'up'" style="background: rgb(224, 246, 235); width: 60%; float: right; padding: 10px; border-radius: 10px; font-weight: bold; color: rgb(0, 226, 189); font-size: 1em; margin-right: 30px">
                    {{ transaction.amount }}€
                  </div> <!--24 46 35-->
                  <div *ngIf="transaction.status === 'down'" style="background: rgba(224, 0, 0, 0.1); width: 60%; float: right; padding: 10px; border-radius: 10px; font-weight: bold; color: #ff726f; font-size: 1em; margin-right: 30px">
                    {{ transaction.amount }}€
                  </div>
                </td>
              </tr>
              </tbody>
            </table>

            <div class="d-flex justify-content-center pagination">
              <pagination-controls
                responsive="true"
                previousLabel="Précédent"
                nextLabel="Suivant"
                (pageChange)="onTableDataChange($event)">
              </pagination-controls>
            </div>
          </div>
        </div>
      </div>
      <div class="col-1"></div>
    </div>
  </div>
</div>

