<div class="wrapper">
    <div class="sidebar" data-color="red">
        <app-sidebar></app-sidebar>
    </div>
    <div class="main-panel">
        <app-navbar></app-navbar>
        <div *ngIf="isAuthenticated">
          <router-outlet></router-outlet>
          <app-footer></app-footer>
        </div>
    </div>
</div>
