<ion-content>
  <div class="logo_wrapper">
    <img src="../../assets/logo.svg" alt="">
  </div>

  <div (click)="getBack()">
    <div class="circleBase type1"><div class="arrow-left"></div></div>
  </div>

  <form>
    <div class="login_wrapper">
      <ion-input class="rounded" placeholder="Votre email" type="text" [(ngModel)]="forgotCredentials.email" [ngModelOptions]="{standalone: true}"></ion-input>
    </div>
  </form>


  <div class="btn_login" (click)="forgotPass()">
    <button class="rounded btn">Envoyer</button>
  </div>
</ion-content>
