img {
  max-width: 50%;
}

.logo_wrapper, .login_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20%;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right:10px solid white;
  margin-right: 5px;
}

.circleBase {
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.type1 {
  width: 50px;
  height: 50px;
  background: #98C3FF;
  margin-top: 15%;
  border: 1px solid #707070;
}

.btn_login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.rounded {
  border-radius: 27px;
  border: 1px solid #707070;
  height: 38px;
  width: 266px;
  outline: none;
  text-align: center;
  margin-bottom: 8%;
}

.btn {
  color: white;
  font-size: 18px;
  background-color: #98C3FF;
}
