<ion-content>
  <div class="logo_wrapper">
    <div (click)="goBack()" class="circleBase type1"><div class="arrow-left"></div></div>
    <img src="../../assets/logo.svg" alt="">
    <img class="avatar" src="https://firebasestorage.googleapis.com/v0/b/webradio-stream.appspot.com/o/Users%2F29%2FImages%2Fimage_1.png?alt=media&token=303af267-fa31-4ec1-9869-27670764b691" alt="">
  </div>

  <hr style="border-bottom: 1px solid #707070;width: 85%;">

  <form>
    <div class="login_wrapper">
      <ion-input class="rounded" placeholder="Nouveau mot de passe" type="text" [(ngModel)]="newPassCredentials.password" [ngModelOptions]="{standalone: true}"></ion-input>
    </div>
  </form>


  <div class="btn_login" (click)="changePassword()">
    <button class="rounded btn">Modifier</button>
  </div>

</ion-content>
