<ion-content>
  <div class="logo_wrapper">
    <div (click)="goBack()" class="circleBase type1"><div class="arrow-left"></div></div>
    <img src="../../assets/logo.svg" alt="">
    <img class="avatar" src="https://firebasestorage.googleapis.com/v0/b/webradio-stream.appspot.com/o/Users%2F29%2FImages%2Fimage_1.png?alt=media&token=303af267-fa31-4ec1-9869-27670764b691" alt="">
  </div>

  <hr style="border-bottom: 1px solid #707070;width: 85%;">

  <form>
    <div class="modif_wrapper">
      <div class="avatar__setting">
        <label for="cameraInputUser">
          <img class="account__logo" [src]="url" alt="">
        </label>
        <input type="file" (change)="onFileChange($event)" accept="image/*" id="cameraInputUser">
      </div>
      <ion-input class="rounded" placeholder="Adresse" type="text" [(ngModel)]="updateCredentials.adresse" [ngModelOptions]="{standalone: true}" required></ion-input>
      <ion-input class="rounded" placeholder="Ville" type="text" [(ngModel)]="updateCredentials.ville" [ngModelOptions]="{standalone: true}" required></ion-input>
      <ion-input class="rounded" placeholder="Code Postal" type="text" [(ngModel)]="updateCredentials.code_postal" [ngModelOptions]="{standalone: true}" required></ion-input>
      <ion-select class="rounded" [(ngModel)]="updateCredentials.country" [ngModelOptions]="{standalone: true}">
        <ion-select-option value="{{ country.name }}" *ngFor="let country of countries">{{ country.name }}</ion-select-option>
      </ion-select>
      <ion-input class="rounded" placeholder="N° téléphone portable" type="text" [(ngModel)]="updateCredentials.portable" [ngModelOptions]="{standalone: true}" required></ion-input>
      <ion-input class="rounded" placeholder="N° téléphone fixe" type="text" [(ngModel)]="updateCredentials.fixe" [ngModelOptions]="{standalone: true}"></ion-input>
    </div>
  </form>


  <div class="btn_login" (click)="updateAccount()">
    <button class="rounded btn">Modifier</button>
  </div>

</ion-content>
