img {
  max-width: 40%;
}

.logo_wrapper, .login_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10%;
  margin-bottom: 8%;
}

.avatar {
  max-width: 15%;
  position: absolute;
  right: 26px;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right:10px solid white;
  margin-right: 5px;
}

.circleBase {
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.type1 {
  width: 50px;
  height: 50px;
  background: #98C3FF;
  border: 1px solid #707070;
  margin: 0;
  position: absolute;
  left: 26px;
}

.btn_login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 50px;
}

.rounded {
  border-radius: 27px;
  border: 1px solid #707070;
  height: 38px;
  width: 266px;
  outline: none;
  text-align: center;
  margin-bottom: 8%;
}

.btn {
  color: white;
  font-size: 18px;
  background-color: #98C3FF;
}

select {
  text-align: center;
  text-align-last: center;
  -moz-text-align-last: center;
}

.margin {
  margin-top: 0;
  margin-bottom: 10%;
}


#cameraInputUser {
  display: none;
}

.image-upload {
  position: relative;
  text-align: center;
}

.avatar__setting {
  display: inline-flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.account__logo {
  max-width: 100%;
  margin-bottom: 20px;
}

.modif_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10%;
  margin-bottom: 8%;
}
