<ion-content>
  <div class="logo_wrapper">
    <div (click)="goBack()" class="circleBase type1"><div class="arrow-left"></div></div>
    <img src="../../assets/logo.svg" alt="">
    <img (click)="goToProfil()" class="avatar" src="https://firebasestorage.googleapis.com/v0/b/webradio-stream.appspot.com/o/Users%2F29%2FImages%2Fimage_1.png?alt=media&token=303af267-fa31-4ec1-9869-27670764b691" alt="">
  </div>

  <hr style="border-bottom: 1px solid #707070;width: 85%;">

  <div style="width: 100%; text-align: center; margin-top: 10%">
    <p>Ajouter un nouveau client</p>
  </div>

  <form>
    <div class="login_wrapper">
      <ion-select [(ngModel)]="addClientCredentials.status" [ngModelOptions]="{standalone: true}" class="rounded" okText="Okay" cancelText="Fermer">
        <ion-select-option value="Professionnel">Professionnel</ion-select-option>
        <ion-select-option value="Particulier">Particulier</ion-select-option>
      </ion-select>
      <ion-input class="rounded" placeholder="Nom du client" type="text" [(ngModel)]="addClientCredentials.name" [ngModelOptions]="{standalone: true}" required></ion-input>
      <ion-input class="rounded" placeholder="Email du client" type="text" [(ngModel)]="addClientCredentials.email" [ngModelOptions]="{standalone: true}" required></ion-input>
      <ion-input class="rounded" placeholder="Adresse" type="text" [(ngModel)]="addClientCredentials.adresse" [ngModelOptions]="{standalone: true}" required></ion-input>
      <ion-input class="rounded" placeholder="Ville" type="text" [(ngModel)]="addClientCredentials.ville" [ngModelOptions]="{standalone: true}" required></ion-input>
      <ion-input class="rounded" placeholder="Code Postal" type="text" [(ngModel)]="addClientCredentials.code_postal" [ngModelOptions]="{standalone: true}" required></ion-input>
      <ion-select class="rounded" [(ngModel)]="addClientCredentials.country" [ngModelOptions]="{standalone: true}">
        <ion-select-option value="{{ country.name }}" *ngFor="let country of countries">{{ country.name }}</ion-select-option>
      </ion-select>
      <ion-input class="rounded" placeholder="N° téléphone portable" type="text" [(ngModel)]="addClientCredentials.portable" [ngModelOptions]="{standalone: true}" required></ion-input>
      <ion-input class="rounded" placeholder="N° téléphone fixe" type="text" [(ngModel)]="addClientCredentials.fixe" [ngModelOptions]="{standalone: true}"></ion-input>
    </div>

    <div class="btn_login" (click)="addClient()">
      <button class="rounded btn">Ajouter</button>
    </div>
  </form>


</ion-content>
