<ion-content [fullscreen]="true">
  <div class="logo_wrapper">
    <img src="../../assets/logo.svg" alt="">
    <img (click)="goToProfil()" class="avatar" src="https://firebasestorage.googleapis.com/v0/b/webradio-stream.appspot.com/o/Users%2F29%2FImages%2Fimage_1.png?alt=media&token=303af267-fa31-4ec1-9869-27670764b691" alt="">
  </div>

  <hr style="border-bottom: 1px solid #707070;width: 85%;">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
            pullingIcon="refresh"
            refreshingSpinner="crescent">
    </ion-refresher-content>
  </ion-refresher>

  <p style="text-align: center">{{ refresh }}</p>

  <div class="flex-wrapper">
    <div class="single-chart">
      <svg viewBox="0 0 36 36" class="circular-chart green">
        <path class="circle-bg"
              d="M18 2.0845
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831"
        />
        <path class="circle"
              stroke-dasharray="70, 100"
              d="M18 2.0845
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831"
        />
        <svg width="100%" height="20%" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="20%" viewBox="0 0 325.799 325.799" style="enable-background:new 0 0 325.799 325.799; fill: #B5B5B5;" xml:space="preserve">
<g>
	<g>
		<path d="M285.306,296.302c-73.7,28.4-156.5-8.4-184.9-82.2c-0.5-1.4-1-2.7-1.5-4.1h147.8c5.5,0,10-4.5,10-10s-4.5-10-10-10h-153.1    c-3-15.8-3.3-32.1-1-48h170.1c5.5,0,10-4.5,10-10s-4.5-10-10-10h-165.6c22.7-75.6,102.5-118.5,178.2-95.8c3.3,1,6.7,2.1,10.1,3.4    c5.1,2,10.9-0.5,13-5.7c2-5.1-0.5-10.9-5.7-13h-0.1c-84-32.3-178.3,9.6-210.7,93.6c-2.2,5.7-4.1,11.5-5.6,17.4h-39.6    c-5.5,0-10,4.5-10,10s4.5,10,10,10h35.7c-2,16-1.7,32.1,0.9,48h-36.6c-5.5,0-10,4.5-10,10s4.5,10,10,10h41.3    c26.1,86.2,117.1,134.9,203.2,108.9c3.8-1.2,7.6-2.5,11.3-3.9c5.1-2,7.7-7.8,5.7-12.9    C296.206,296.902,290.406,294.302,285.306,296.302z"/>
	</g>
</g>
          <g>
</g>
          <g>
</g>
          <g>
</g>
          <g>
</g>
          <g>
</g>
          <g>
</g>
          <g>
</g>
          <g>
</g>
          <g>
</g>
          <g>
</g>
          <g>
</g>
          <g>
</g>
          <g>
</g>
          <g>
</g>
          <g>
</g>
</svg>

        <text style="font-size: 2px" x="18" y="20.35" class="percentage">CA réalisé</text>
        <text style="font-size: 4px" x="18" y="25.35" class="percentage">432,340€</text>
      </svg>
    </div>

    <div class="revolut-chart">
      <svg viewBox="0 0 36 36" class="circular-chart purple">
        <path class="circle-bg"
              d="M18 2.0845
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831"
        />
        <path class="circle"
              stroke-dasharray="85, 100"
              d="M18 2.0845
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831"
        />
        <svg xmlns="http://www.w3.org/2000/svg" y="13%" height="35%" width="100%" viewBox="-2.850015 -5.75 24.70013 34.5"><defs><linearGradient gradientUnits="userSpaceOnUse" gradientTransform="matrix(.10838 0 0 .11312 -.092 -.004)" y2="33.495" y1="222.275" x2="187.902" x1="-3.542" id="a"><stop stop-color="#0D59EC" offset=".113"/><stop stop-color="#008FE1" offset=".742"/><stop stop-color="#20AFFF" offset="1"/></linearGradient><linearGradient gradientUnits="userSpaceOnUse" gradientTransform="matrix(.10838 0 0 .11312 -.092 -.004)" y2="33.495" y1="222.275" x2="187.902" x1="-3.542" id="b"><stop stop-color="#0D59EC" offset=".113"/><stop stop-color="#008FE1" offset=".742"/><stop stop-color="#20AFFF" offset="1"/></linearGradient></defs><g fill-rule="evenodd"><path style="fill: #B5B5B5;" d="M8.946 4.865c-.284 1.999-.511 3.682-.92 6.303 1.105-.024 3.613.416 4.165-3.166.457-2.98-1.58-3.256-3.245-3.137z" fill="url(#a)" transform="translate(.0001)"/><path style="fill: #B5B5B5;" d="M18.516 19.276c.43.957-.003 2.167-.9 2.654-.515.28-1.103.54-1.69.686A14.18 14.18 0 0112.97 23c-1.593 0-3.19-.912-3.878-2.022-.178.383-.82 1.153-1.945 1.515-.711.23-1.568.507-3.357.505-1.603-.001-2.517-.728-3-1.338-.77-.97-.883-2.202-.733-3.032l.008-.04C.67 15.553 1.497 10.035 1.878 7.27l.004-.027c.104-.767.21-1.534.273-2.306.031-.389.052-.78.056-1.17.004-.369-.03-.737-.027-1.106.004-.348.06-.7.223-1.008.265-.497.75-.889 1.263-1.06C4.233.405 4.821.33 5.406.262a46.373 46.373 0 011.798-.18A30.497 30.497 0 019.404 0c1.256-.001 2.52.02 3.758.275 1.261.26 2.535.757 3.53 1.628.682.597 1.223 1.35 1.63 2.174.356.726.501 1.49.587 2.074A8.67 8.67 0 0118.79 9.3a6.903 6.903 0 01-.913 2.122c-.474.736-1.082 1.404-1.857 2.04.472 1.37 1.702 4.046 2.496 5.814zM4.41 2.8c.03.508.034 1.02.012 1.53-.022.521-.067 1.04-.125 1.558-.057.516-.126 1.03-.196 1.544l-.023.168c-.22 1.607-.452 3.212-.695 4.814-.256 1.684-.543 3.359-.83 5.036-.133.782-.432 1.784-.023 2.53.364.666 1.298.747 1.949.68 2.371-.242 2.748-.769 2.748-.769-.473-.524-.062-2.912.414-6.122h1.685l1.764 5.335s.52 1.653 1.965 1.573c1.851-.102 3.213-.525 3.409-.76-.57-.318-2.2-4.394-3.088-7.387.43-.262.847-.547 1.24-.866.537-.438 1.035-.943 1.416-1.536.274-.426.483-.895.603-1.393.063-.263.098-.538.12-.807.04-.474.025-.954-.044-1.424-.066-.452-.165-.955-.367-1.363-.375-.763-.906-1.429-1.63-1.855-1.222-.718-2.63-.855-4.003-.93a25.333 25.333 0 00-4.463.146c-.166.02-1.845.168-1.838.298z" fill="url(#b)" transform="translate(.0001)"/></g></svg>

        <text style="font-size: 3px" x="18" y="20.35" class="percentage">Solde</text>
        <text style="font-size: 4px" x="18" y="25.35" class="percentage">52,340€</text>
      </svg>
    </div>
  </div>

  <div class="add_btn">
    <button (click)="addClient()" class="rounded btn" >Ajouter un nouveau client</button>
  </div>

  <hr style="border-bottom: 1px solid #707070;width: 85%;">

  <div class="Search-wrapper" style="width: 100%">
    <!--[ngModel]="searchTerm" (ionChange)="onSearchTerm($event)"-->
    <ion-searchbar [ngModel]="searchTerm" (ionChange)="onSearchTerm($event)" color="light" id="searchbar" placeholder="Rechercher un client..."></ion-searchbar>
  </div>

  <div class="middle" *ngFor="let client of clients | slice:0:slice">
    <div class="clients">
      <p class="client_name">{{ client.name }}</p>
      <button (click)="checkClient(client)" class="check_btn btn">Voir</button>
    </div>
    <hr style="border-bottom: 1px solid #707070;width: 70%; margin: auto">
  </div>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
