<ion-content>
  <div class="logo_wrapper">
    <div (click)="goBack()" class="circleBase type1"><div class="arrow-left"></div></div>
    <img src="../../assets/logo.svg" alt="">
    <img (click)="goToProfil()" class="avatar" src="https://firebasestorage.googleapis.com/v0/b/webradio-stream.appspot.com/o/Users%2F29%2FImages%2Fimage_1.png?alt=media&token=303af267-fa31-4ec1-9869-27670764b691" alt="">
  </div>

  <hr style="border-bottom: 1px solid #707070;width: 85%;">

  <div style="width: 100%; text-align: center; margin-top: 5%;">
    <p style="margin: auto">Facture - {{ client.name }}</p>
    <p style="margin: auto">Récapitulatif</p>
  </div>

  <hr style="border-bottom: 1px solid #707070;width: 85%;">

  <div class="middle" *ngFor="let bill of bill">
    <div class="clients">
      <p class="client_name"><span style="text-decoration: underline;">Nom de l'article :</span> <br>{{ bill.billArticleName.name }}</p>
      <p class="client_name"><span style="text-decoration: underline;">Description de l'article :</span> <ion-textarea auto-grow="true" value="{{ bill.billArticleDescription.description }}">
      </ion-textarea>
      <p class="client_name"><span style="text-decoration: underline;">Quantité (JH) :</span> <br>{{ bill.billArticlePrice.quantity }}</p>
      <p class="client_name"><span style="text-decoration: underline;">Prix unitaire :</span> <br>{{ bill.billArticlePrice.price }}</p>
    </div>
    <hr style="border-bottom: 1px solid #707070;width: 85%;">
  </div>

  <hr style="border-bottom: 1px solid #707070;width: 85%;">

  <div class="btn_login" (click)="continueToCreateBill()">
    <button class="btn add-article">Ajouter un article<button class="plus"></button></button>
  </div>

  <div class="btn_login" (click)="sendBillToClient()">
    <button class="rounded btn">Envoyer la facture</button>
  </div>

</ion-content>
