<ion-content>
  <div class="logo_wrapper">
    <div (click)="goBack()" class="circleBase type1"><div class="arrow-left"></div></div>
    <img src="../../assets/logo.svg" alt="">
    <img (click)="goToProfil()" class="avatar" src="https://firebasestorage.googleapis.com/v0/b/webradio-stream.appspot.com/o/Users%2F29%2FImages%2Fimage_1.png?alt=media&token=303af267-fa31-4ec1-9869-27670764b691" alt="">
  </div>

  <hr style="border-bottom: 1px solid #707070;width: 85%;">

  <div style="width: 100%; text-align: center; margin-top: 5%;">
    <p style="margin: auto">Devis - {{ client.name }}</p>
  </div>

  <form>
    <div class="login_wrapper">
      <ion-textarea class="rounded" placeholder="Nom de l'article" [(ngModel)]="nameArticleCreateDevisCredentials.name" [ngModelOptions]="{standalone: true}">
      </ion-textarea>
      <p style="width: 100%; text-align: center">
        Prévisualisation du nom : <ion-textarea auto-grow="true" readonly [(ngModel)]="nameArticleCreateDevisCredentials.name" [ngModelOptions]="{standalone: true}"></ion-textarea>
      </p>
    </div>

    <div class="btn_login" (click)="continueToCreateDevis()">
      <button class="rounded btn">Continuer</button>
    </div>
  </form>

</ion-content>
